.listItem {
  & .link {
    outline: 0;
    font-size: 1em;

    @media (hover: hover) {
      &:hover,
      &:focus {
        color: var(--color-text-hover);
      }
    }

    &:active {
      color: var(--color-text-active);
    }

    &.active {
      color: var(--color-text-hover);
      pointer-events: none;
    }
  }
}

