$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;

$fs-h1: 5rem;
$fs-h2: 2.444444rem;
$fs-h3: 2.111111rem;
$fs-h4: 1.222222rem;
$fs-p1: 1rem;
$fs-p2: 0.888888rem;
$fs-p3: 0.777777rem;
$fs-p4: 0.666666rem;
$fs-note: 0.555555rem;
