@use 'shared/styles' as *;

.header {
  display: flex;
  align-items: center;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .leftContent {
    display: flex;
    align-items: center;
    gap: 90px;
  }

  & .rightContent {
    display: flex;
    align-items: center;

    & .userMenu {
      margin-right: 95px;
    }

    & .localSelect {
      margin-right: 25px;
    }
  }
}
