.link {
  outline: 0;
  font-size: 1em;
  display: inline-block;

  @media (hover: hover) {
    &:hover,
    &:focus {
      color: var(--color-text-hover);
    }
  }

  &:active {
    color: var(--color-text-active);
  }
}
